.preview 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #1e1e1e;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    min-width: 250px;
    height: 500px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.preview:hover 
{
    transform: scale(1.02);
}

.preview-img-container 
{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 500px;
}

.preview-img-container img 
{
    width: 100%;
    height: 100%;
    object-fit: fill;
    transition: filter 0.3s ease;
}

.preview-hover-overlay 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.preview-img-container:hover img 
{
    filter: grayscale(100%);
}

.preview-img-container:hover .preview-hover-overlay 
{
    opacity: 1;
}

.preview-book-info 
{
    color: white;
    text-align: center;
    padding: 1rem;
}

.preview-book-info h3 
{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.preview-book-info p 
{
    font-size: 1rem;
    margin-bottom: 0.3rem;
}

.preview-rating 
{
    font-weight: bold;
    color: #ffd700;
}