.list-container 
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background: var(--bgcolor);
    overflow-x: hidden;
    box-sizing: border-box;
}

.list-main-container 
{
    display: grid;
    grid-template-columns: 18% 1fr;
    gap: 2vw;
    height: 100vh;
    width: 100vw;
    background: var(--bgcolordark);
    overflow: hidden;
}

.sidebar-container 
{
    grid-column: 1 / 2;
    border-right: 2px solid var(--bordercolor);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.content-container 
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    align-items: start;
    width: 100%;
    overflow-y: auto;
}

.no-books-container 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.no-books
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
}

.notification-container 
{
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    width: max-content;
    max-width: 90%;
    animation: slideDownFade 0.5s ease-out;
  }
  
  .notification 
  {
    background-color: var(--accentcolor);
    color: var(--bgcolorlight);
    padding: 12px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }
  
  @keyframes slideDownFade 
  {
    from 
    {
      opacity: 0;
      transform: translate(-50%, -20px);
    }
    to 
    {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
  
.no-books
{
    font-size: 4rem;
    text-align: center;
    color: var(--headingcolordark);
    margin: 0 auto;
    width: 100%;
    font-weight: 600;
}

@media (min-width: 1200px) and (max-width: 1318px)
{
    .content-container 
    {
        grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    }
}


@media (min-width: 1074px) and (max-width: 1200px)  
{
    .content-container 
    {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media (min-width: 739px) and (max-width: 1074px)
{
    .content-container
    {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }
}

@media  (min-width: 628px) and (max-width: 739px)
{
    .content-container 
    {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

@media  (min-width: 540px) and (max-width: 628px)
{
    .content-container 
    {
        grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    }
}

@media  (min-width: 380px) and (max-width: 540px)
{
    .content-container 
    {
        grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
    }
}

@media  (max-width: 380px)
{
    .content-container 
    {
        grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
    }
}